/* Layout (Torrents page) */


/* Global */
@font-face { font-family: Anonymous; src: url('http://fonts.googleapis.com/css?family=Anonymous+Pro'); }

* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	background: #FFFFFF;
	font-family: Anonymous, monospace;
	font-size: 9pt;
	color: #000000;
}

.forum_post pre {
	max-width: 660px;
	max-height: 500px;
	overflow: auto;
}

table tbody, .main_column, .sidebar, .box, .thin, .pad, #threadpoll, #poll {
	color: #A5A5A5;
}

/* Common elements */

a {
	text-decoration: none;
	border: none;
	color: #0000FF;
}

a img {
	border: 0;
}

table tbody a, .main_column a, .sidebar a, .box a {
	color: #A5A5A5;
}

table tbody a:hover, .main_column a:hover, .sidebar a:hover, .box a:hover {
	color: #A5A5A5;
}

#header a:hover, .linkbox a:hover {
	text-decoration: underline;
}

a[onclick]:focus {
	outline: 0;
	background: transparent;
}

a[onclick]:active {
	outline: 0;
/*	background: url(images/load.gif) 100% 4px no-repeat; */
}

a[onclick^="AddArtistField"]:focus, a[onclick^="AddArtistField"]:active {
	outline: 0;
	background: transparent !important;
	padding: 0 !important;
}

.main_column a[href^="http"], .main_column a[href^="https"] { padding: 0 10px 0 0; background: url('images/external.png') 100% 4px no-repeat; }
.main_column a[href^="http"]:hover, .main_column a[href^="https"]:hover { padding: 0 10px 0 0; background: url('images/external.png') 100% 4px no-repeat !important; }
.forum_post a[href^="http"], .forum_post a[href^="https"] { padding: 0 10px 0 0; background: url('images/external.png') 100% 4px no-repeat; }
.forum_post a[href^="http"]:hover, .forum_post a[href^="https"]:hover { padding: 0 10px 0 0; background: url('images/external.png') 100% 4px no-repeat; }
.head a[href^="http"]:hover, .head a[href^="https"]:hover, .colhead a[href^="http"]:hover, .colhead a[href^="https"]:hover, .colhead_dark a[href^="http"]:hover, .colhead_dark a[href^="https"]:hover { padding: 0 10px 0 0; background: url('images/external.png') 100% 4px no-repeat; }
.forum_post a[href^="http"] img, .forum_post a[href^="https"] img { padding: 0 0 0 0; background: transparent !important; border: none; }
.forum_post a[href^="http"] img:hover, .forum_post a[href^="https"] img:hover { padding: 0 0 0 0; background: transparent !important; border: none; }

h1, h2, h3 {
	margin: 5px 0px;
	color: #000000;
	font-family: Anonymous, monospace;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	text-decoration: underline;
}

.box h1, .box h2, .box h3, .box h4
.box2 h1, .box2 h2, .box2 h3, .box2 h4 {
	color: #000;
}

.size3, .size4, .size5, .size6, .size7 {
	font-family: Anonymous, monospace;
}

li {
	margin: 5px 15px;
}

input {
	padding: 2px 3px;
	border-style: solid;
	border-width: 1px;
}

textarea {
	padding: 2px 3px;
}

img {
	border: none;
-webkit-filter: grayscale(1); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
filter: gray; filter: grayscale(100%);
filter: url(https://what.cd/static/styles/80char/desaturate.svg#greyscale);

}

noty_message {
	backround: #000000; !important
}

.noty_text {
    col: #000000;
    color: #000000;
}

#noty_bottomRight_layout_container li {
    border-color: #000000 !important;
}

/* Styles generated by the BBCode parser */

span.size1 { font-size:0.75em; }
span.size2 { font-size:1em; }
span.size3 { font-size:1.25em; }
span.size4 { font-size:1.5em; }
span.size5 { font-size:1.75em; }
span.size6 { font-size:2em; }
span.size7 { font-size:2.25em; }
span.size8 { font-size:2.5em; }
span.size9 { font-size:2.75em; }
span.size10 { font-size:3em; }

ul.thin { margin:0px 0px 0px 25px; padding:0px; }
ul.thin li { margin:0px 0px; padding:0px; }

/* Layout (Every page) */
#wrapper {
	padding: 0 0 0 0;
}

#header {
	width: 950px;
	margin: 0 auto 0 auto;
	background: url('images/bg_header.png') 11px 65px no-repeat;
	height: 275px;
	padding: 0 0 0 0;
}

#content {
	width: 906px;
	margin: 0 auto 0 auto;
	color: #000000;
	background: #eaeaea;
	padding: 40px 22px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#alerts {
	background: #FF0808;
	padding: 4px 9px;
	margin: -5px auto 0 auto;

}

#footer {
	background: transparent url('images/bg_footer.png');
	margin-top: 40px;
	width: 100%;
	text-align: center;
	padding: 1em 0;
	color: #FFFFFF;
	font-size: 8pt;
}

#footer:after {
	content: url('images/gazelle.png');
}

#disclaimer_container {
	font-size: 7pt;
	color: #A5A5A5;
}

#logo {
	width: 141px;
	height: 69px;
	background: url('http://dl.dropbox.com/u/12148/wcd-logo.png') no-repeat top left;
	margin: 66px 0 30px 35px;
	position: absolute;
	z-index: 3;
}

#logo a {
	border: none;
	width: 129px;
	height: 51px;
	display: block;
}

#header a:active, #header a:focus, #logo a:hover, #logo a:active, logo a:focus {
		border: none;
		outline: none;
}

#menu {
	height: 130px;
	position: absolute;
	padding: 0 0 0 0;
	margin: 40px 0 0 195px;
	font-family: Anonymous, monospace;
	font-size: 11pt;
	color: #000000;
	width: 265px;
}

#menu a {
	color: #FFF;
	text-decoration: none;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul li {
	float: left;
	margin: 3px 26px;
	display: block;
	width: 75px;
}

#menu ul li a {
	color: #000000;
	font-family: Anonymous, monospace;
	font-size: 14px;
	outline: none;
	padding: 0 0 2px 0;
	text-transform: uppercase;
}

#menu ul li a:hover {
	color: #000000;
	text-decoration: none;
	background: #A5A5A5;
	padding: 1px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#menu ul li a:active, #menu ul li a:focus {
	color: #FF0808;
	background: #A5A5A5;
	padding: 1px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#index #nav_index a, #torrents #nav_torrents a, #collage #nav_collages a, #requests #nav_requests a, #forums #nav_forums a, #chat #nav_irc a, #top10 #nav_top10 a, #rules #nav_rules a, #wiki #nav_wiki a, #staff #nav_staff #nav_inbox #nav_staffinbox #nav_uploaded #nav_bookmarks #nav_notifications #nav_subscriptions #nav_comments #nav_friends #nav_better a {
	color: #000000;
	background: #A5A5A5;
	padding: 1px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#nav_requests {
	color: #FF0000;
}

#noty_bottomRight_layout_container > li {
    background: #fff !important;
}

.noty_buttons {
    border-top-color: #000000 !important;
}


/*
#nav_index a { background-position: 0 0; width: 75px; }
#nav_index a:hover { background-position: 0 -34px; }
#index #nav_index a { background-position: 0 -69px; }
#nav_torrents a { background-position: -75px 0; width: 75px; }
#nav_torrents a:hover { background-position: -75px -34px; }
#torrents #nav_torrents a { background-position: -75px -69px; }
#nav_collages a { background-position: -150px 0; width: 75px; }
#nav_collages a:hover { background-position: -150px -34px; }
#collage #nav_collages a { background-position: -150px -69px; }
#nav_requests a { background-position: -225px 0; width: 75px; }
#nav_requests a:hover { background-position: -225px -34px; }
#requests #nav_requests a { background-position: -225px -69px; }
#nav_forums a { background-position: -300px 0; width: 75px; }
#nav_forums a:hover { background-position: -300px -34px; }
#forums #nav_forums a { background-position: -300px -69px; }
#nav_irc a { background-position: -375px 0; width: 75px; }
#nav_irc a:hover { background-position: -375px -34px; }
#irc #nav_irc a { background-position: -375px -69px; }
#nav_top10 a { background-position: -450px 0; width: 75px; }
#nav_top10 a:hover { background-position: -450px -34px; }
#top10 #nav_top10 a { background-position: -450px -69px; }
#nav_rules a { background-position: -525px 0; width: 75px; }
#nav_rules a:hover { background-position: -525px -34px; }
#rules #nav_rules a { background-position: -525px -69px; }
#nav_wiki a { background-position: -600px 0; width: 75px; }
#nav_wiki a:hover { background-position: -600px -34px; }
#wiki #nav_wiki a { background-position: -600px -69px; }
#nav_staff a { background-position: -675px 0; width: 75px; }
#nav_staff a:hover { background-position: -675px -34px; }
#staff #nav_staff a { background-position: -675px -69px; }
*/


#userinfo {
	position: absolute;
	color: #FFF;
	width: 950px;
	font-size: 12px;
	text-transform: uppercase;
}

#userinfo_major {
	position: absolute;
	width: 156px;
	margin: 120px 0 0 763px;
	text-align: left;
	z-index: 10;
}

.brackets {
white-space: normal !important;
}

#userinfo_major li {
	float: none !important;
	display: inline;
}

#userinfo_major a {
	color: #000000 !important;
}

#userinfo_username {
	position: absolute;
	top: 43px;
	left: 462px;
	width: 219px;
}

#userinfo_username #nav_userinfo{
	margin: 0 0.1em;
	vertical-align: middle;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#userinfo_username #nav_useredit, #userinfo_username  #nav_logout{
	display: inline;
	float: none;
}

#nav_useredit a{
	text-indent: -9999px;
	display: inline-block;
	background: url(https://dl.dropboxusercontent.com/s/lgkqfoxsxqvf2aq/simple_what_edit-button-n.png) no-repeat;
	width: 11px;
	height: 11px;
}

#nav_logout a{
	text-indent: -9999px;
	display: inline-block;
	background: url(https://dl.dropboxusercontent.com/s/2t2pn25x63ts41p/simple_what_logout-button.png) no-repeat;
	width: 11px;
	height: 11px;
}

#userinfo_stats {
	margin: 22px 0px 0px 726px;
	width: 114px;
	position: absolute;
	background: #eaeaea;
	padding-left: 40px;
	padding-right: 33px;
	padding-top: 18px;
	padding-bottom: 65px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF !important;
}

#userinfo_stats a {
	color: #000000 !important;
}

#userinfo_stats #stats_ratio span {
	color: #000000;
}

#userinfo_stats li span {
	color: #000000;
	font-style:italic
}

#userinfo_minor a {
	color: black; !important
	}

#userinfo_stats #stats_seeding {
	margin-left: -7px;
	padding-left: 8px;
}


#userinfo_stats #stats_leeching {
	margin-left: -7px;
	padding-left: 8px;
}

#userinfo_minor {
	position: absolute;
	width: 270px;
	margin: 65px 0 0 460px;
	text-align: left;
	float: right;
}

#userinfo_minor a:hover{
	text-decoration: none;
	color: #000000;
	background: #A5A5A5;
	padding: 1px 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#userinfo_minor li a {
	color: #000000;
}

#userinfo_minor li {
	float: left;
	margin: 0px 3px 3px 3px !important;
	width: 107px;
	line-height: 20px;
}

#userinfo img {
	margin-top: -5px;
}

#userinfo ul {
}

#userinfo ul li {
	margin: 0em;
	vertical-align: middle;
	padding: 0;
	float: left;
	list-style-type: none;
}

.username {
	color: #000000 !important;
	font-weight: bold;
}

#userinfo a{
	color: #fff;
}
#alerts a {
	color: #000000;
}

#userinfo b a {
	font-weight: normal;
	font-size: 0.9em;
}

#searchbars {
	position: absolute;
	top: 230px;
	width: 912px;
	margin: 0 0 0 17px;
}

#searchbars input {
	width: 114px;
	padding: 0px 2px 0px 20px;
	font-family: Anonymous, monospace;
	height: 18px;
	background: #FFFFFF;
	color: #000000;
	text-transform: lowercase;
	font-size: 14px;
	border-style: solid;
	border-width: 1px;

}
input[type=search] {
	-webkit-appearance: none;
	border-style: solid;
	border-width: 1px;
}
/* Remove cacel button, search input*/
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#autocomplete {
	background: url('images/content.png');
	border: 1px solid #000;
	list-style: none;
}

#searchbars input:active,
#searchbars input:focus {
	background: #FFFFFF;
	color: #000000;
}

#searchbars ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;

}

.breadcrumbs {
	text-align: center !important;
}

#searchbars ul li {
	display: inline;
	float: left;
	width: 148px;
	margin: 0;
	padding-left: 4px;
	position: relative;
	list-style: none;
}

#searchbars ul li ul {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
	z-index: 1000;
	border: 1px solid #FFF;
	background: url('images/content.png');
	width: 12em;
	margin-top: 12px;
}

#searchbars ul li ul li {
	margin: 1px 0 1px 4px;
	padding: 0;
	display: block;
	width: 100%;
	cursor: pointer;
}

#searchbars ul li ul li.highlight {
	color: #FF0000;
}

#searchbars ul li form {
	display: inline;
	margin: 0;
}

#alerts {
	width: 230px;
	margin: 166px 0px 0px 338px;
	position: absolute;
	text-align: center;
	color: #fff;
}

#cat-selector ul {
	width: 100%;
}

#cat-selector ul li {
	display: inline;
	width: 12em;
	height: 1em;
	float: left;
}

#debug_report pre {
	width: 890px;
	overflow: auto;
}

/* Strip the category column */
td.cats_col, td.center.cats_col{ border-right: none; }
table.grouping>tbody>tr.torrent>td:first-child+td+td,
table.no_grouping>tbody>tr.torrent>td:first-child+td,
table.grouping>tbody>tr.group>td:first-child+td+td,
table.grouping>tbody>tr.colhead>td:first-child+td+td,
table.no_grouping>tbody>tr.group>td:first-child+td,
table.no_grouping>tbody>tr.colhead>td:first-child+td { /*text-indent:-20px;*/ border-left: none;}

.last_read {width: 15px; height: 15px; background: url('images/go_last_read.png') no-repeat center center; margin-left: 5px;}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }
.last_read a:active, .last_read a:focus { outline: 0; }

.hidden {
	position: absolute;
	left: -10000px;
}

input.hidden {
	position: absolute;
	display: none;
}

/* Layout (Any page) */


.thin {
	width: 850px;
	margin: 0px auto;
	color: #FFFFFF;
}

.linkbox {
	text-align:center;
	padding: 5px;
	color: #000000;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.min_padding {
	padding: 0px;
	margin: 0px 0px;
}

p.min_padding {
	margin: 2px 0px;
}

.pad {
	padding: 1em;
}

.sidebar .pad {
	padding: 10px;
}

.vertical_space {
	margin-bottom: 10px;
}

.box {
	font-size: 14px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-bottom: 1px #ccc solid;
}

.box2 {
	font-size: 14px;
	background-color: #ffffff;
	margin-bottom: 10px;
}

.pad h3, .pad h4, .padbox h3, .padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {
	float: right;
	width: 245px;
}

.body {
	padding: 3px 10px 10px 10px;
}

.main_column {
	width: 592px;
	border-right: 1px solid #ccc;
}

.main_column table {
	margin-bottom: 10px;
}

.main_column .box .body {
	font-size: 14px;
}

.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}

.tags a {
	color: #0000FF;
}

.tags a:hover {
	color: #0000FF;
}

.noborder {
	border: none;
}

ul.nobullet {
	list-style-type: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}

tr {
	border: none;
	background-color: #FFFFFF;
}

tr.rowa {
	background-color: #FFFFFF;
}

tr.rowb {
	background-color: #FFFFFF;
}

td, th {
	border: none;
	padding: 5px;
	text-align: left;
}

.torrent_table .colhead_dark,.torrent_table .colhead{
	background-color: #d1d1d1;
}

.colhead, .colhead_dark, .head {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 20px;
	font-size: 14px;
}

.main_column .head, .sidebar .head {
	text-transform: uppercase;
}

.comment .head {
	text-align: left !important;
	text-transform: none;
}

.sidebar  .head{
	text-align: center;
}

.box .head .time {
	font-size: 12px;
	color: #FFFFFF;
}

.colhead a, .colhead_dark a, .head a {
	color: #0000FF;
}

.colhead_dark a img:active, .colhead_dark a img:focus {
	outline: 0;
}

td.colhead, .colhead td, .colhead th {
	padding-left: 10px;
	padding-right: 10px;
}

.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	vertical-align:middle;
	text-align:center;
	font-size: 14px;
}

td.label {
	text-align: right;
	width: 180px;
}

table.slice {
	margin-top: -1px;
}

tr.peer_list {
	font-size:12px;
}

tr.peer_list td {
	padding: 2px 0px 2px 2px;
}

.error_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #AF2525;
	text-align: center;
	color: white;
}

.save_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #F4E649;
	text-align: center;
	color: #492802;
}

.elem_error {
	border: 3px solid #B00D0D;
}

.hide {
	display: none;
}


/* Layout (home page) */

ul.stats li {
	padding: 0px 0px 1px 0px;
	font-size: 12px;
}

ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
	clear: left;
}

ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
	width: 28px;
	height: 28px;
	background: url('images/show.png') no-repeat center center;
	-moz-opacity: 0.5;
	opacity: 0.50;
	filter: alpha(opacity=50);
}

.hide_torrents {
	width: 28px;
	height: 28px;
	background: url('images/hide.png') no-repeat center center;
	-moz-opacity: 0.5;
	opacity: 0.50;
	filter: alpha(opacity=50);
}

.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
}

.torrent_table a:active img, .torrent_table a:focus img {
	background-color: transparent !important;
}

.filter_torrents {
	width: 750px;
	margin: auto;
}

.filter_torrents .submit {
	text-align: right;
	padding-top: 5px;
}

#content form.search_form + .torrent_table {
	margin-top: 20px;
}

.cat_list tr td {
	border:none;
}

.torrent_table tr {
	vertical-align:top;
}

.torrent_table tr.group {
	background-color:#EFEFEF;
}
.torrent_table tr.group_torrent {
	background-color:#fbfaf8;
	border-bottom:1px solid #efefef;
}

#torrent_table tr.group, #torrents_album  tr.group, #discog_table  tr.group{
	background-color:#fbfaf8;
}
#torrent_table tr.group_torrent, #torrents_album tr.group_torrent, #discog_table tr.group_torrent {
	background-color:#efefef;
	border-bottom:1px solid #fbfaf8;
}

tr.group_torrent td,
tr.group td,
tr.torrent td {
	color: #000000;
}
.torrent_table.grouping tr.torrent,
.torrent_table.no_grouping tr.torrent {
	background-color:#EFEFEF;
}

.torrent_table div.tags {
	font-weight:normal;
}

.torrent_table tr .center {
	vertical-align:middle;
	text-align:center;
}

.group_torrent span {
	float: right;
}

.torrent span {
	font-weight:normal;
	float:right;
}

.nobr {
	white-space:nowrap;
}

/* Layout (Forums) */

.unread_locked_sticky{background: url('images/locked_sticky_unread.png') no-repeat center center;}
.read_locked_sticky{background: url('images/locked_sticky_read.png') no-repeat center center;}
.read_sticky{background: url('images/sticky_read.png') no-repeat center center;}
.unread_sticky{background: url('images/sticky_unread.png') no-repeat center center;}
.unread_locked{background: url('images/locked_unread.png') no-repeat center center;}
.read_locked{background: url('images/locked_read.png') no-repeat center center;}
.unread{background: url('images/unread.png') no-repeat center center;}
.read{background: url('images/read.png') no-repeat center center;}

table.forum_post {
	margin: 10px 0px;
}

table.forum_post td {
	border: 1px solid #bbbbbb;
}

table.forum_unread {
	border: 2px solid #bbbbbb;
}

td.avatar {
	width: 150px;
	padding: 0px;
}

table.forum_post td.body {
	width:690px;
}

#quickreplypreview .forum_post {
	padding: 5px;
}

strong.quoteheader{
	color:#444;
}

blockquote {
	margin: 10px;
	padding: 10px;
	border: 1px dashed #666;
	background: #ECECEC;
}


/* Layout (Inbox) */


tr.unreadpm {
	background-color: #A5A5A5;
}

/* Layout (collages) */
.collage_images li {
	background-color: #FFFFFF;
	vertical-align: middle;
}

/* Layout (Permission Page) */

.permission_head {
	width:400px;
	margin-left:auto;
	margin-right:auto;
}

.permissions {
	width:930px;
	margin-left:auto;
	margin-right:auto;
}

.permission_container {
	float: left;
	width:300px;
	padding:5px;
}
.permission_container input {
	margin:0px 3px 5px 0px;
	vertical-align:top;
}

.submit_container {
	clear:both;
	text-align:right;
}

/* Layout (Invite tree) */

ul .invitetree {
	margin: 0px 0px 0px 25px;
}

.invitetree li {
	list-style: none;
	margin: 10px 2px;
}

/*.thin .body a:hover, .thin .box a:hover, .thin .body a:focus, .thin .box a:focus { background: ; }*/

.head a:hover, .colhead a:hover, .colhead_dark a:hover, .head a:focus, .colhead a:focus, .colhead_dark a:focus {
	background: transparent !important; outline: 0
}

/* Layout (User options) */

.user_options .options_list li {
	margin: 0;
}

/* Layout (MISC) */

.poll{list-style:none; padding:10px; margin:5px}
.poll li{clear:both}
.poll .graph{padding:0 0 15px 0}
.poll .graph span{display:block; height:19px; float:left}
.poll .graph .left_poll{width:9px; background:url('images/poll_left.png') top left no-repeat}
.poll .graph .center_poll{background:url('images/poll_middle.png') top left repeat-x}
.poll .graph .right_poll{width:11px; background:url('images/poll_right.png') top left no-repeat}

.curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111 50% 0 no-repeat fixed;
	z-index: 1001;
	-moz-opacity: 0.9;
	opacity: 0.90;
	filter: alpha(opacity=90);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	background-color: transparent;
	z-index: -1;
}

input[type=button], input[type=submit] {
	background: #FFFFFF;
	display: inline-block;
	padding: 3px 6px 4px;
	margin: 3px;
	color: #000000;
	text-decoration: none;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: none;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type=text], input[type="password"] {
	background: #FFFFFF;
	display: inline-block;
	padding: 3px;
	margin: 3px;
	color: #000000;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
}

#quickpost input[type=text], .box_search input[type=text], #AddArtists input[type=text], .add_torrent_container input[type=text], .add_torrent_container input[type=text], .box_addtag input[type=text], .pad .search_form input[type=text], .edit_form input[type=text], .rename_form input[type=text], .merge_form  input[type=text], #compose input[type=text], .add_form input[type=text] {
	background: #fff;
	border: 1px solid #bbbbbb;
	color: #000000
}

input[type=text]:active, input[type="search"]:active, input[type="password"]:active { top: 1px; }

input[disabled=disabled] { background: #eaeaea; }
input[disabled=disabled]:hover, input[disabled=disabled]:focus, input[disabled=disabled]:active { background-color: #eaeaea; }

/*
textarea[disabled=disabled] { background: #4F4F4F; color: #356d6c; }
textarea[disabled=disabled]:hover, textarea[disabled=disabled]:focus, textarea[disabled=disabled]:active { background-color: #4F4F4F; color: #356d6c; }
*/

select[disabled=disabled] { background: #eaeaea; }
select[disabled=disabled]:hover, select[disabled=disabled]:focus, select[disabled=disabled]:active { background-color: #eaeaea; }

select, select:active, select:focus {
	background: #d1d1d1;
	display: inline-block;
	margin: 3px;
	color: #FFFFFF;
	text-decoration: none;
	border: 0;
	font-family: Anonymous, monospace;
}

option, option:active, option:focus {
	background: #d1d1d1;
	padding: 1px;
	margin: 0;
	color: #FFFFFF;
	text-decoration: none;
	border: 0;
	font-family: Anonymous, monospace;
}
#AddArtists {
	margin-bottom: 10px;
}

select:hover, option:hover {
	background: #eaeaea;
}

#AddArtists select:hover, #AddArtists option:hover .pad option:hover, .pad select:hover{
	background: #d1d1d1;
}

#logchecker .thin, #logchecker h3, .log_outer, .log_outer h3 {
	color: #444;
}

.spellcheck {
	margin: 10px 0;
	font-size: 1.25em;
	font-weight: bold;
}

ul, ol{
	list-style-position: inside;
}

tr.torrent .bookmark > a:before {
	color: #646054;
}
tr.torrent .bookmark > a:after {
	color: #646054;
}

#requests .forum_post textarea { /* overriding the inline 80-character monospace */
	max-width: 409px;
}

.field_div {
	margin-bottom: 10px;
}

.edit_changelog textarea {
	width: 600px;
}

.autocomplete-suggestions {
	background: #d2d2d2;
	color: #355D6C;
}
.autocomplete-selected {
	background: #eaeaea;
	color: #355D6C;
}

div[class~=tooltipster-base] {
	background-color: #ECECEC;
	color: #444;
}

div[class~=tooltipster-content] > a {
	color: #0A84AF;

}

#settings_sections #submit, #settings_sections #settings_search {
	margin: 3px 0;
}

.vote_tag_up, .vote_artist_up, .vote_album_up, .small_upvote, .small_upvoted {
	color: green;
}

.vote_tag_down, .vote_artist_down, .vote_album_down, .small_downvote, .small_downvoted {
	color: red;
}

/* workaround for calendar display issue */
div.sidebar #event_div {
	margin-left: -50px;
}
#collage #search_terms input[type=search], #torrents .layout input[type=search] {
background: #FFFFFF;
display: inline-block;
padding: 3px;
margin: 3px;
color: #000000;
text-decoration: none;
border: none;
}
